{% if page.callouts %}
    {% assign callouts=site.data.[page.callouts] %}

    <section class="section">

    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-12 is-size-2 has-text-centered">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-12 is-size-2 has-text-centered">
            </div>
        </div>
    </div>

    <!-- <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-12 is-size-5">
                        <div class="box has-background-white">
                            The AI for Science101 initiative aims to create a comprehensive knowledge platform for the growing AI for Science community. This unique field brings together scientists from diverse backgrounds and creates a new intersection of knowledge. Our team of students, researchers, and practitioners are dedicated to providing informative and accessible content about AI for Science through our blog series. The goal of this series is to introduce and motivate individuals who are interested in learning about this exciting and rapidly advancing field.  
                        </div>
                    </div>
                </div>
    </div> -->

    <!-- <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-12 is-size-2 has-text-centered">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-12 is-size-2 has-text-centered">
            </div>
        </div>
    </div> -->

    <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-12 is-size-5">
                        <div class="box has-background-info has-text-white">
                            The AI for Science101 initiative aims to create a comprehensive knowledge platform for the growing AI for Science community. This unique field brings together scientists from diverse backgrounds and creates a new intersection of knowledge. Our team of students, researchers, and practitioners are dedicated to providing informative and accessible content about AI for Science through our blog series. The goal of this series is to introduce and motivate individuals who are interested in learning about this exciting and rapidly advancing field.
                        </div>
                    </div>
                </div>
    </div>

    <!-- <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-12 is-size-2 has-text-centered">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-12 is-size-2 has-text-centered">
            </div>
        </div>
    </div>

    <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-12 is-size-5">
                        <div class="box has-background-white">
                        </div>
                    </div>
                </div>
    </div>

    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-12 is-size-2 has-text-centered">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-12 is-size-2 has-text-centered">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-12 is-size-4 has-text-centered">
                <div class="box has-background-white">
                    Key TDC presentations and publications</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-12 is-size-5">
                        <div class="box has-background-white">
                            <ul>
                                <li><b>Artificial Intelligence Foundation for Therapeutic Science,</b> Nature Chemical Biology, 2022 <a href="https://www.nature.com/articles/s41589-022-01131-2">[Paper]</a> </li>
                                
                                <li><b>Therapeutics Data Commons: Machine Learning Datasets and Tasks for Drug Discovery and Development</b>, NeurIPS, 2021 <a href="https://datasets-benchmarks-proceedings.neurips.cc/paper/2021/hash/4c56ff4ce4aaf9573aa5dff913df997a-Abstract-round1.html">[Paper]</a> <a href="https://drive.google.com/file/d/1LfF8mfPLUqAVEzH3KPBxDO_VF7nLFtiJ/view?usp=sharing">[Poster]</a> </li>

                                <li><b>Benchmarking Molecular Machine Learning in Therapeutics Data Commons</b>, ELLIS ML4Molecules, 2021 <a href="https://cloud.ml.jku.at/s/54pB5Eqf6ftX7qA">[Paper]</a> <a href="https://drive.google.com/file/d/1iOSW_5eruca4vdygDxS1H64c49oQuH40/view?usp=sharing">[Slides]</a></li> 

                                <li><b>Therapeutics Data Commons: Machine Learning Datasets and Tasks for Drug Discovery and Development</b>, Baylearn, 2021 <a href="https://drive.google.com/file/d/1BNpk3dOdqE3ksgyVV-V3xySdBMq-8cXL/view?usp=sharing">[Slides]</a> <a href="https://drive.google.com/file/d/1LfF8mfPLUqAVEzH3KPBxDO_VF7nLFtiJ/view?usp=sharing">[Poster]</a></li>

                                <li><b>Therapeutics Data Commons</b>, NSF-Harvard Symposium on Drugs for Future Pandemics, 2020 <a href="https://www.drugsymposium.org/">[#futuretx20]</a> <a href="https://drive.google.com/file/d/11eTrh_lsqPcwu3RZRYjJGNpJ3s18YlBS/view">[Slides]</a> <a href="https://youtu.be/ZuCOhEZtaOw">[Video]</a></li>

                                <li><b>TDC User Group Meetup</b>, 2022 <a href="https://harvard.zoom.us/rec/share/HO0TjRPs56YG-Fu3i033izaTwebB4KwUhPeNURkWSI-anrH9su03lCtUlHeZG-WP.67ZJmAIHsD7Q_2GQ">[Video]</a> <a href="https://shoutout.wix.com/so/d1Nv1pC2d#/main">[Agenda]</a></li>

                                <li><b>Machine Learning to Translate the Cancer Genome and Epigenome Session</b>, <a href="https://www.aacr.org/meeting/aacr-annual-meeting-2022/">AACR Annual Meeting</a>, 2022</li>

                                <li><b>Few-Shot Learning for Network Biology</b>, <a href="https://biokdd.org/biokdd21/keynote.html">KDD Workshop on Data Mining in Bioinformatics</a>, 2021</li>

                                <li><b>Actionable machine learning for drug discovery and development</b>, <a href="https://www.broadinstitute.org/talks/actionable-machine-learning-drug-discovery-and-development">Broad Institute, Models, Inference & Algorithms Seminar</a>, 2021</li>

                                <li><b>Graph Neural Networks for Biomedical Data</b>, <a href="https://sites.google.com/cs.washington.edu/mlcb2020/schedule?authuser=0">Machine Learning in Computational Biology</a>, 2020</li>

                                <li><b>Graph Neural Networks for Identifying COVID-19 Drug Repurposing Opportunities</b>, <a href="https://www.aicures.mit.edu/drugdiscoveryconference">MIT AI Cures</a>, 2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
    </div>

    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-12 is-size-4 has-text-centered">
                <div class="box has-background-white">
                    We welcome  <a href="https://join.slack.com/t/pytdc/shared_invite/zt-x0ujg5v6-zwtQZt83fhRdgrYjXRFz5g">contributions from the research community.</a>
                </div>
            </div>
        </div>
    </div>

    </section>
    <section class="hero {% if callouts.height %} {{ callouts.height }} {% else %} is-medium {% endif %} {{ callouts.style }}">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-multiline is-centered">
                    {% for callout in callouts.items %}
                        <div class="column is-4 has-text-centered">
                            {% if callout.icon %}
                            <div class="icon callout-icon">
                                <i class="fas {{ callout.icon }} fa-4x"></i>
                            </div>
                            {% endif %}
                            <p class="title is-5">{{ callout.title }}</p>
                            <p class="subtitle is-5">{{ callout.subtitle }}</p>
                            
                            {% if callout.description %}
                            <div class="content has-text-left">
                                <p>{{ callout.description | newline_to_br }}</p>
                            </div>
                            {% endif %}

                            {% if callout.call_to_action_name %}
                            <a href="{{ callout.call_to_action_link | prepend: site.baseurl }}" class="button is-primary">
                                {{ callout.call_to_action_name }}
                            </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div> -->
    </section>
{% endif %}

