<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body">
        <div class="container">
            <p class="title is-1" style="color: #fff;">{{ page.title }}</p>
            <p class="subtitle is-2" style="color: #fff;">{{ page.subtitle }}</p>

            <div class="container is-pulled-left">
		        <div class="columns">
		        	{% if page.hero_link %}
		            <div class="column has-text-centered is-pulled-left"> <a href="{{ page.hero_link | prepend: site.baseurl  }}" class="button is-rounded is-large is-info is-focused">{{ page.hero_link_text }}</a></div>
		            {% endif %}
		            <!-- <div class="column has-text-centered is-pulled-left"><a href="https://twitter.com/ProjectTDC" class="button is-rounded is-large is-primary is-focused">Follow us on Twitter</a></div> -->
		            <div class="column has-text-centered is-pulled-left"><a href="https://join.slack.com/t/aiforscience/shared_invite/zt-1bdof1jmf-YtIjkUVA5DquXguEiOXGPQ" class="button is-rounded is-large is-primary is-focused">Join us on Slack</a></div>
		            <div class="column has-text-centered is-pulled-left"><a href="mailto:yuanqidu@cs.cornell.edu" class="button is-rounded is-large is-primary is-focused">Contact Us</a></div>
					
		        </div>
			</div>
        </div>
    </div>
</section>