@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #188eac !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$info: #5baeb1 !default;
$link: #387e7b !default;
$success: #ceeaeb !default;
$footer-padding: 1.5rem 1.5rem 1.5rem;
$code: darken(#5baeb1, 5%);
@import "../node_modules/bulma/bulma.sass";
@import "layout";
@import "syntax";
@import "showcase";
@import "block-list"